.body{
    background-color: black;
}

.principal {
    width: 100%;
    display: flex;
    height: 87vh;
    /* background-image: url('../assets/imgs/fundo.avif');
    background-size: cover; */
}

.fundo {
    background-image: url('../assets/imgs/fundo.avif');
    background-size: cover;
}
.content {
    width: 60%;
}

.mapa {
    width: 35%;
    margin-top: 3%;
    margin-left: 3%;
}

.imagem {
    background-image: url('../assets/imgs/intro2.jpg');
    height: 75vh;
    background-size: cover;
    width: 100%;
}




.inicial {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}

.titulo {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color:rgb(8, 3, 61) ;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #b1b6bc; 
}



.subtitulo {
    font-size: 20px;
    color: #96aceb;
}

.dados {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.dados input {
    width: 80%;
    height: 6vh;
    border: 1px solid rgb(3, 31, 59);
    border-radius: 5px;
    text-align: start;
    background-color: #b1b6bc;
}

.dados button {
    margin-top: 10px;
    background: rgb(3, 31, 59);
    color: #fff;
    width: 81%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    align-self: center;
    cursor: pointer;
}

.enviar:hover {
    color: white;
    background-color: #96aceb;
    border: 2px solid rgb(3, 31, 59);
    transition: 0.15s ease-in-out;
}
