

.banner {
    background-image: url("banner_tiro.jpg");
    width: 100%;
    height: 87vh;
    color: #fff;
    display: flex;
    background-size: cover;
}


.informativo {
    width: 100%;
    height: 24vh;
    background-color:black;
    /* rgb(9, 56, 74) */
    display: flex;
    justify-content: center;
}

/* .picture_intro {
    background-image: url("intro4.jpg");
    width: 35vh;
    height: 20vh;
    background-size: cover;
    border-radius: 10px;

} */

/* .picture_intro{
    background-image: url("perfil_four2.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}
.picture_intro2{
    background-image: url("perfil_tris.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
} */
.intro {
    width: 80%;
    color: black;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    /* justificar conteudo */
}

.informativo .container {
    margin-top: 5vh;
    padding: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
    justify-content: space-evenly;
    width: 50%;
    height: 13vh;
    background-color: rgb(253, 245, 235);
    border-radius: 50px;
}

.personagens {
    height: 75vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;

}
.per_titulo{
    width: 100%;
    display: flex;
    color: rgb(253, 245, 235);
    justify-content: center;
    margin-top: 5vh;
}
.subtitulo_per{
    width: 100%;
    color: rgb(253, 245, 235);
    text-align: center;
    margin-bottom: 2vh;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.per1{
    background-image: url("perfil_tris.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}
.per2{
    background-image: url("perfil_four2.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}
.per3{
    background-image: url("caleb.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}
.per4{
    background-image: url("perfil_christina2.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}
.per5{
    background-image: url("perfil_will.jpg");
    width: 37vh;
    height: 55vh;
    background-size: cover;
    border-radius: 10px;
}